{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load markdownify %}

{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'img/background.jpg' %});"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container-fluid px-md-5">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
             data-scrollax-parent="true">
            <div class="col-md-6 ftco-animate">
                <h2 class="subheading">{% trans "Python in Szczecin?" %}</h2>
                <h1 class="mb-4">{% trans "Join PySzczek!" %}</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb mt-5">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image: url({% static 'img/devi-bg.png' %});">
    				</div>
    			</div>
    			<div class="col-md-6 px-5 py-5">
    				<div class="row justify-content-start pt-3 pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">{% trans "Welcome to PySzczek!" %}</span>
		            <h2 class="mb-4">{% trans "Who are we?" %}</h2>
		            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
		            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
<section class="ftco-section ftco-no-pt mt-5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-4">{% trans "Our Team" %}</h2>
            </div>
        </div>
        <div class="row no-gutters">
            {% for user_object in profile_list %}
            {% include 'partials/_user.html' with profile=user_object %}
            {% endfor %}
        </div>
    </div>
</section>
<script src="{% static 'scripts/aboutus.js' %}"></script>
{% endblock %}
