{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/background.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">{% trans "Contact" %}</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex contact-info">
            <div class="w-100"></div>
            <div class="col-md-4">
                <p><a href="https://gitlab.com/pyszczek" target="_blank"><img
                        src="{% static 'img/gitlab_icon.svg' %}" alt="Our Gitlab" style="max-height: 100px;" class="mx-auto d-block"></a></p>
            </div>
            <div class="col-md-4">
                <p><a
                        href="https://join.slack.com/t/pyszczek/shared_invite/enQtNDk4ODc5NzcyNTk2LTk2MGRmODA5ZTJlYTAwMzQ3NjUzNTEwZmU0OGNjNmJjZDdhZDE4YzA1ZWE4ODYzOTIzZGI0YmQ3NDQ5MzIwNWM"
                        target="_blank"><img src="{% static 'img/slack_icon.svg' %}" alt="Our Slack"
                                             style="max-height: 100px; max-width: 100px" class="mx-auto d-block"></a></p>
            </div>
            <div class="col-md-4 align-self-center">
                <p><a href="mailto:kontakt@strona-pyszczka.domena">kontakt@strona-pyszczka.domena</a></p>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'scripts/contact.js' %}"></script>
{% endblock %}