{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/background.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">{% trans "Events" %}</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            {% for event_object in event_list %}
            {% include 'partials/_event.html' with event=event_object %}
            {% endfor %}
        </div>
        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <span class="mr-2"><a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></span>
            </li>
            {% endif %}
            <li>
                <span>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
            <li>
                <span class="ml-2"><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></span>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section>
<script src="{% static 'scripts/events.js' %}"></script>
{% endblock %}
