{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load markdownify %}

{% block content %}
{% for event in event_data %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/background.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3">{{event.title}}</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 ftco-animate">
                <p>
                    <img src="{{article.photo}}" alt="" class="img-fluid">
                </p>
                <h2 class="mb-3">{{event.title|markdown|safe}}</h2>
                <h2 class="mb-3">{{event.event_date}}</h2>
                <h2 class="mb-3">{{event.address}}</h2>
                <div class="event__text">{{event.description|markdown|safe}}</div>
                <div class="event__container">
                    <h3 class="mb-3">Agenda:</h3>
                    <div>{{event.agenda|markdown|safe}}</div>
                    <h3 class="mb-3">{% trans "Place:" %}</h3>
                    <div id="map"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{{geocode.0|safe}}
{% endblock %}
<script>
  function initMap() {
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 17, center: new google.maps.LatLng({{geocode.0|safe}})});
    var latLng = new google.maps.LatLng({{geocode.0|safe}})
    var marker = new google.maps.Marker({position: latLng, map: map});
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"
        async defer></script>
