{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load markdownify %}

{% block content %}
{% for article in article_data %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/background.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3">{{article.title}}</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 ftco-animate">
                <p>
                    <img src="{{article.photo}}" alt="" class="img-fluid">
                </p>
                <h2 class="mb-3">{{article.title|markdown|safe}}</h2>
                <p>{{article.body|markdown|safe}}</p>
                <h2 class="mb-3">About Author</h2>
                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="{{ article.author.profile.photo }}" alt="Author's Photo" class="img-fluid mb-4" style="max-height: 400px;">
                    </div>
                    <div class="desc">
                        <h3>{{article.author.first_name}} {{article.author.last_name}}</h3>
                        <p>{{article.author.profile.description|markdown|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}
