{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand" href="index.html"><img style="width: 40px;" src="{% static 'img/pyszczek_logo_beznog.svg' %}" alt="Polish Language"> PySzczek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-aboutus"><a href="{% url 'aboutus' %}" class="nav-link">{% trans "About Us" %}</a></li>
                <li class="nav-item nav-articles"><a href="{% url 'news' %}" class="nav-link">{% trans "News" %}</a></li>
                <li class="nav-item nav-events"><a href="{% url 'events' %}" class="nav-link">{% trans "Events" %}</a></li>
                <li class="nav-item nav-contact"><a href="{% url 'contact' %}" class="nav-link">{% trans "Contact" %}</a></li>
                <li class="nav-item"><a href="{% url 'language' 'pl' %}?next={{request.path}}" class="nav-link"><img style="width: 40px;"
                                                                      src="{% static 'img/polish.svg' %}"
                                                                      alt="Polish Language"></a>
                </li>
                <li class="nav-item"><a href="{% url 'language' 'en' %}?next={{request.path}}" class="nav-link"><img style="width: 40px;"
                                                                      src="{% static 'img/english.svg' %}"
                                                                      alt="English Language"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
