	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/01/2019 13:45
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("./fonts/flaticon/font/Flaticon.eot");
  src: url("./fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("./fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("./fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-family:before { content: "\f100"; }
.flaticon-auction:before { content: "\f101"; }
.flaticon-handcuffs:before { content: "\f102"; }
.flaticon-shield:before { content: "\f103"; }
.flaticon-lawyer:before { content: "\f104"; }
.flaticon-medal:before { content: "\f105"; }
.flaticon-handshake:before { content: "\f106"; }
.flaticon-house:before { content: "\f107"; }
.flaticon-employee:before { content: "\f108"; }
.flaticon-fire:before { content: "\f109"; }
.flaticon-money:before { content: "\f10a"; }
.flaticon-medicine:before { content: "\f10b"; }