{% load i18n %}
{% load static %}
{% load markdownify %}
<div class="col-md-4 d-flex ftco-animate">
    <div class="blog-entry justify-content-end">
        <a href="{{event.id}}" class="block-20" style="background-image: url({{event.photo}});"></a>
        <div class="text p-4 float-right d-block">
            <div class="topper d-flex align-items-center">
                <div class="one py-2 pl-3 pr-1 align-self-stretch">
                    <span class="day">{{event.event_date.day}}</span>
                </div>
                <div class="two pl-0 pr-3 py-2 align-self-stretch">
                    <span class="yr ml-2">{{event.event_date.year}}</span>
                    <span class="mos ml-2">{{event.event_date | date:"E"}}</span>
                </div>
            </div>
            <h3 class="heading mt-2"><a href="{{event.id}}">{{event.title | markdown | safe}}</a></h3>
            <p>{{event.description|markdown|safe}}</p>
        </div>
    </div>
</div>
