{% load markdownify %}
<div class="col-lg-3 col-sm-6">
    <div class="block-2 ftco-animate">
        <div class="flipper">
            <div class="front" style="background-image: url({{ profile.photo }});">
                <div class="box">
                    <h2>{{profile.user.first_name}} {{profile.user.last_name}}</h2>
                </div>
            </div>
            <div class="back">
                <!-- back content -->
                <blockquote>
                    <p>{{profile.description|markdown|safe}}</p>
                </blockquote>
                <div class="author d-flex">
                    <div class="image align-self-center">
                        <img src="{{ profile.photo }}" alt="">
                    </div>
                    <div class="name align-self-center ml-3">{{profile.user.first_name}} {{profile.user.last_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>