<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PySzczek</title>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'open-iconic-bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'animate.css' %}">

        <link rel="stylesheet" href="{% static 'magnific-popup.css' %}">

        <link rel="stylesheet" href="{% static 'aos.css' %}">

        <link rel="stylesheet" href="{% static 'ionicons.min.css' %}">

        <link rel="stylesheet" href="{% static 'flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'icomoon.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fruity.css' %}" />
    </head>
    <body>
        <header>
            {% include 'partials/_navbar.html' %}
        </header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <footer>
            {% include 'partials/_footer.html' %}
        </footer>
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        <script src="{% static 'scripts/jquery.min.js' %}"></script>
        <script src="{% static 'scripts/jquery-migrate-3.0.1.min.js' %}"></script>
        <script src="{% static 'scripts/popper.min.js' %}"></script>
        <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
        <script src="{% static 'scripts/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'scripts/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'scripts/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'scripts/owl.carousel.min.js' %}"></script>
        <script src="{% static 'scripts/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'scripts/aos.js' %}"></script>
        <script src="{% static 'scripts/jquery.animateNumber.min.js' %}"></script>
        <script src="{% static 'scripts/scrollax.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="{% static 'scripts/google-map.js' %}"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>